@import url("https://fonts.googleapis.com/css2?family=Anton&family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  color: white;
  background-image: url("../src/assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.review-card {
  background-image: url("/public/reviewBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
}

.slick-slide > div {
  margin: 0 8px;
}

.slider-container .slick-track {
  display: flex !important;
  align-items: stretch;
}

.slider-container .slick-slide {
  height: auto !important;
}

.slick-dots li button:before {
  background-color: #b9b8b8;
  height: 12px !important;
  width: 12px !important;
  border-radius: 100%;
  text-indent: -9999px;
  overflow: hidden;
  margin-top: 40px;
}