@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  color: white;
  background-image: url("../src/assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* .gradient-border {
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #EF4444, #6366F1);
  border-image-slice: 1;
  border-radius: 30px;
} */